@font-face {
    font-family: 'arialn';
    src: local('arial_narrow.eot');
    src: url('arial_narrow.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_narrow.svg') format('svg'),
         url('../fonts/arial_narrow.woff') format('woff'),
         url('../fonts/arial_narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialn';
    src: local('arialni.eot');
    src: url('arialni.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialni.svg') format('svg'),
         url('../fonts/arialni.woff') format('woff'),
         url('../fonts/arialni.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'arialn';
    src: local('arialnbi.eot');
    src: url('arialnb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialnb.svg') format('svg'),
         url('../fonts/arialnb.woff') format('woff'),
         url('../fonts/arialnb.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'arialn';
    src: local('arialnbi.eot');
    src: url('arialnbi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialnbi.svg') format('svg'),
         url('../fonts/arialnbi.woff') format('woff'),
         url('../fonts/arialnbi.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'helios';
    src: local('helioscondc-bolditalic.eot');
    src: url('helioscondc-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helioscondc-bolditalic.svg') format('svg'),
         url('../fonts/helioscondc-bolditalic.woff') format('woff'),
         url('../fonts/helioscondc-bolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}