include ../fancybox/fancybox.jade

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js")
script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js")
script(src="ui/fancybox/fancybox.js")
script(src="ui/customSelect/jquery.mousewheel.js")
script(src="ui/customSelect/mwheelIntent.js")
script(src="ui/customSelect/jquery.jscrollpane.min.js")
script(src="ui/customSelect/jquery.customSelect.js")
script(src='js/main.js')
