meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Запчасти на дом
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
link(rel='stylesheet', href='css/main.css')