@import "var";

html, body{
	height: 100%;
}

.page{
    background: url(../images/bg.jpg);
    color:@c-black;
    font: 14px Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    &__inner{
    	min-height: 100%;
    	width: 1200px;
    	margin: 0 auto;
    }

    &__header{
        padding-bottom: 40px;
    }

    &__title{
        color: @c-white;
        text-transform: uppercase;
        font-family: 'helios';
        font-weight: 600;
        font-style: italic;
        font-size: 32px;
        padding: 2px 300px 0 0;
    }

    &__footer{
    	height: 100px;
    }

    &__select{
        width: 280px;
        margin-top:-2px;
    }

    &_light{
        background: @c-bg-light;

        .page__title,
        .letter__link,
        .card__executor,
        .accordion__title,
        .complete__label_active,
        .complete__checkbox:checked~.complete__label_unactive,
        .superior__hot,
        .product__pre-count{
            color: @c-black;
        }

        .letter__link_active{
            color: @c-white;
        }

        .accordion__title,
        .product__pre{
            border-color: @c-black;
        }

        .product__pre:before{
            background: @c-black;
        }

        .page__header .search,
        .search_type_letter{
            border: 1px solid @c-border;
        }

        .list,
        .filter,
        .footer,
        .provider,
        .menu_storage,
        .card{
            box-shadow: @shadow;
        }
    }
}

a{
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* Хак для IE 6 и 7 */
}