@gr-gray_t: #fbfeff;
@gr-gray_b: #e1e6ea;
@gr-red_t: #ff0600;
@gr-red_b: #b40800;
@gr-blue_t: #456a89;
@gr-blue_b: #2d495d;

@c-black: #000000;
@c-bg-light: #efefef;
@c-gray: #a0a0a0;
@c-lightgray: #e8edf0;
@c-order: #f7fbfc;
@c-odd: #f3f7f9;
@c-even: #f9fbfc;
@c-border: #cfd9de;
@c-undefined: #b9c7d3;
@c-blue: #283844;
@c-purpur: #6408a5;
@c-lightblue: #0085f5;
@c-green: #47d11e;
@c-orange: #f65100;
@c-white: #ffffff;
@c-dark: fadeout(#171b1f, 50%);
@c-progress: #0db7f6;
@c-pre-order: #f9ecef;
@c-pink: #f7235f;


@shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
@inner-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);

@angle: -10deg;

.poz_center{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
}

.skew{
	transform: skew(@angle);
}

.no-skew{
	transform: skew(-@angle);
}