@import "../layout/var";

.cause{
	margin: 0 300px 20px 95px;

	&__text{
		background: @c-white;
		filter: drop-shadow(@shadow);
		border-radius: 3px;
		font-size: 12px;
		line-height: 1.5;
		padding: 5px 10px;
		color: lighten(@c-black, 40%);
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: 100%;
			right: 15px;
			border-top: 12px solid @c-white;
			border-left: 12px solid transparent;
		}
	}
}