@import "../layout/var";

.complete{

	&__switcher{
		padding-top: 6px;
	}

	&__checkbox{
		display: none;

		&:checked{
			& ~ .complete__label_active{
				color: @c-white;
			}

			& ~ .complete__label_unactive{
				color: @c-gray;
			}

			& ~ .complete__switch{
				text-align: left;
			}
		}
	}

	&__label{
		font-weight: bold;
		color: @c-gray;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;

		&_unactive{
			color: @c-white;
		}
	}

	&__switch{
		width: 30px;
		height: 16px;
		line-height: 16px;
		display: inline-block;
		vertical-align: top;
		border-radius: 9px;
		margin: 0 10px;
		text-align: right;
		border: 1px solid @gr-red_b;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);

		&:before{
			content: "";
			display: inline-block;
			height: 16px;
			width: 16px;
			border-radius: 8px;
			background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
		}
	}
}

.accordion{
	&_active{
		.accordion__title{
			border-color: transparent;
		}

		.accordion__body{
			display: block;
		}
	}

	&__title{
		font-family: 'helios';
		display: inline-block;
		font-weight: 600;
		font-style: italic;
		font-size: 32px;
		line-height: 28px;
		border-bottom: 1px dotted @c-white;
		color: @c-white;
		text-transform: uppercase;
		margin-bottom: 20px;
		cursor: pointer;
	}

	&__body{
		display: none;
	}
}