@import "../layout/var";

.report{
	position: relative;

	&__link{
		text-decoration: none;
		margin-left: 30px;
		position: relative;
		color: @c-black;
		display: inline-block;
		border-bottom: 1px dotted @c-black;
		line-height: 14px;
		margin: 8px 0 8px 30px;
		z-index: 20;

		&:before{
			content: "";
			position: absolute;
			left: -30px;
			top: -8px;
			width: 30px;
			height: 30px;
			background: url(../images/order.png) no-repeat -120px 0;
		}
	}

	&__info{
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: -5px;
		background: @c-white;
		border-radius: 3px;
		box-shadow: @shadow;
		display: none;
	}

	&__item{
		white-space: nowrap;
		padding: 0 15px 0 10px;
		line-height: 25px;
		margin-top: 3px;

		&_last{
			height: 30px;
			border-radius: 0 0 3px 3px;
			cursor: pointer;
			background-image: linear-gradient(@gr-blue_b, @gr-blue_t);
		}
	}

	&__time,
	&__status{
		display: inline-block;
	}

	&__status{
		padding-left: 5px;
	}

	&:hover{
		.report__info{
			display: block;
		}

		.report__link{
			color: @c-white;
			border-color: transparent;

			&:before{
				background-position: -120px -30px;
			}
		}
	}
}