-var report =[{ "time" : "9.00", "status" : "принят"},{ "time" : "9.30", "status" : "согласован"},{ "time" : "10.00", "status" : "подтвержден "},{ "time" : "16.00", "status" : "готов"},{ "time" : "20.00", "status" : "выполнен"}]

div.report
	a.report__link(href="#") Отчет
	div.report__info
		each line in report
			div.report__item
				div.report__time= line.time
				div.report__status= line.status
		div.report__item.report__item_last