- var filters1 = ["Аксессуары","Аксессуары1","Аксессуары2","Аксессуары3"]
- var filters2 = ["Накидки","Накидки1","Накидки2","Накидки3"]
- var filters3 = ["Меховые","Меховые1","Меховые2","Меховые3"]
- var city = ["Екатеринбург","Верхняя Пышма","Среднеуральск","Березовский","Екатеринбург","Верхняя Пышма","Среднеуральск","Березовский"]
- var payment = ["Оплачен","Не оплачен"]

div.fancybox__inner#create
	div.fancybox__line
		div.fancybox__top
			a.fancybox__close(href="javascript:;",onclick="$.fancybox.close();")
			div.fancybox__header.clearfix
				div.fancybox__title Создание нового заказа
				div.fancybox__switcher.switcher
					input(class="fancybox__checkbox switcher__input", name="fancyboxSwitcher", id="fancyboxSwitcher", type="checkbox", checked)
					label(class="fancybox__label fancybox__label_active switcher__label switcher__label_active")
						| Товар
					label(class="fancybox__switch fancybox__label", for="fancyboxSwitcher")
					label(class="fancybox__label fancybox__label_unactive switcher__label switcher__label_unactive")
						| Заказ
		div.clearfix
			include ../search/search-fancybox.jade

			div.fancybox__filter
				div.fancybox__cell.fancybox__cell_240
					select.select.select__fancybox(name="aks")
						each filter, index in filters1
							option(value="aks"+index)= filter
				div.fancybox__cell.fancybox__cell_240
					select.select.select__fancybox(name="nak")
						each filter, index in filters2
							option(value="nak"+index)= filter
				div.fancybox__cell.fancybox__cell_240
					select.select.select__fancybox(name="meh")
						each filter, index in filters3
							option(value="meh"+index)= filter
			div.fancybox__filter.js-part
				div.fancybox__cell.fancybox__cell_240
					select.select.select__fancybox(name="aks-2")
						each filter, index in filters1
							option(value="aks"+index)= filter
				div.fancybox__cell.fancybox__cell_240
					select.select.select__fancybox(name="nak-2")
						each filter, index in filters2
							option(value="nak"+index)= filter
				div.fancybox__cell.fancybox__cell_240
					select.select.select__fancybox(name="meh-2")
						each filter, index in filters3
							option(value="meh"+index)= filter
	div.fancybox__line.fancybox__line_even
		include ../product/product-fancy.jade
	div.fancybox__line
		include ../product/product-composition.jade
	div.fancybox__line.fancybox__line_even
		div.fancybox__top
			div.fancybox__title Информация о заказчике
		form.fancybox__form(action="/", method="get")
			div.fancybox__cell.fancybox__cell_860
				div
					div.fancybox__cell.fancybox__cell_280
						input(type="text", placeholder="Имя клиента")
					div.fancybox__cell.fancybox__cell_280
						input(type="text", placeholder="Номер телефона")
					div.fancybox__cell.fancybox__cell_280
						input(type="text", placeholder="Email")
				div
					div.fancybox__cell.fancybox__cell_280
						input(type="text", placeholder="VIN")
					div.fancybox__cell.fancybox__cell_280
						select.select.select__form(name="city")
							each filter, index in city
								option(value="city"+index)= filter
					div.fancybox__cell.fancybox__cell_280
						input(type="text", placeholder="Дата доставки")
				div
					div.fancybox__cell.fancybox__cell_420
						textarea(placeholder="Адрес доставки")
					div.fancybox__cell.fancybox__cell_420
						textarea(placeholder="Комментарий")
			div.fancybox__cell.fancybox__cell_240
				div.form__group Оплата
				label.form__radio
					input(type="radio", name="payment") 
					| Наличными при получение
				label.form__radio
					input(type="radio", name="payment") 
					| Картой при получение
				label.form__radio
					input(type="radio", name="payment", checked="checked") 
					| Через счет
				select.select.select__payment(name="paymentStatus")
					each filter, index in payment
						option(value="payment"+index)= filter
				label.form__checkbox
					input(type="checkbox", name="service") 
					| Требуются услуги автосервиса
				label.form__checkbox
					input(type="checkbox", name="discount") 
					| Получить дисконтную карту
			div
				button.form__button.form__button_submit(type="submit")
					div Создать заказ
				button.form__button.form__button_save
					div Сохранить и продолжить редактировать