@import "../layout/var";

.fancybox{
	&__wrapper{
		display: none;
	}

	&__inner{
		width: 1200px;
	}

	&-close{
		display: none;
	}

	&__line{
		padding: 20px 40px;
		box-shadow: @inner-shadow;

		&_even{
			background: @c-order;
		}

		&:first-child{
			box-shadow: none;
		}

		&:last-child{
			border-radius: 0 0 4px 4px;
		}
	}

	&__header{
		width: 700px;
	}

	&__top{
		position: relative;
		margin: 20px 0 30px;
		padding-right: 40px;
	}

	&__close{
		position: absolute;
		top: 8px;
		right: 0;
		background: url("../images/closeFancybox.png") no-repeat;
		width: 20px;
		height: 20px;
	}

	&__title{
		font-family: 'helios';
		font-size: 30px;
		font-weight: 600;
		font-style: italic;
		text-transform: uppercase;
		display: inline-block;

		&-small{
			font-size: 20px;
		}
	}

	&__head{
		padding-bottom: 20px;
	}

	&__bottom{
		padding-top: 10px;
	}

	&__total{
		font-family: 'arialn';
		font-size: 40px;
		font-weight: 600;
		font-style: italic;
		text-transform: uppercase;
		display: inline-block;
		padding-left: 10px;
	}

	&__switcher{
		float:right;
		padding: 10px 0 0 230px;

	}

	&__checkbox{
		display: none;

		&:checked{
			& ~ .fancybox__label_active{
				color: @gr-red_b;
			}

			& ~ .fancybox__label_unactive{
				color: @c-gray;
			}

			& ~ .fancybox__switch{
				text-align: left;
			}
		}
	}

	&__label{
		font-weight: bold;
		color: @c-gray;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;

		&_unactive{
			color: @gr-red_b;
		}
	}

	&__switch{
		width: 30px;
		height: 16px;
		line-height: 16px;
		display: inline-block;
		vertical-align: top;
		border-radius: 9px;
		margin: 0 10px;
		text-align: right;
		border: 1px solid @gr-blue_b;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);

		&:before{
			content: "";
			display: inline-block;
			height: 16px;
			width: 16px;
			border-radius: 8px;
			background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
		}
	}

	&__cell{
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;

		&_240{
			width: 220px;
		}

		&_280{
			width: 260px;
		}

		&_420{
			width: 400px;
		}

		&_860{
			width: 840px;
		}
	}

	&__filter{
		&.js-part{
			display: none;

			&.js-part-active{
				display: block;
			}
		}
	}
}