div(class="search search_type_fancybox")
	form(class="search__form", method="get", action="/")
		input(class="search__input", type="text", name="search", placeholder="Поиск товара по названию, артикулу")
		input(class="search__button", type="submit", value="")