div(class="search search_type_letter")
	form(class="search__form", method="get", action="/")
		input(class="search__input", type="text", name="search", placeholder="Поиск по поставщику")
		input(class="search__button", type="submit", value="")