-var select = ["2 часа", "4 часа", "6 часав", "8 часов", "10 часов", "12 часов", "24 часа"]

div(class="search")
	select(class="select search__time")
		each option, index in select
			option(value="time"+index)= option
	form(class="search__form", method="get", action="/")
		input(class="search__input", type="text", name="search", placeholder="Поиск по № заказа")
		input(class="search__button", type="submit", value="")