@import "../layout/var";

.search{
	float: right;
	width: 290px;
	height: 30px;
	border-radius: 15px;
	background: @c-white;
	white-space: nowrap;
	line-height: 30px;
	position: relative;
	z-index: 20;

	&_type_fancybox{
		margin-top: 0;

		.search__form{
			border-radius: 15px;
			border: 1px solid @c-gray;
			height: 30px;
		}

		&.search input[type="text"].search__input{
			width: 260px;
			border-radius: 15px 0 0 15px;
			padding-left: 15px;
		}
	}


	&_type_letter{
		&.search input[type="text"].search__input{
			width: 260px;
			border-radius: 15px 0 0 15px;
			padding-left: 15px;
		}
	}

	&__time{
		border-radius: 15px;
		display: inline-block;
		vertical-align: top;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
		margin-left: -2px;
		padding: 0 10px 0 30px;
		position: relative;
		font-family: 'arialn';
		font-weight: 600;
		text-transform: uppercase;
		color: @c-white;
		width: 100px;
		box-sizing: border-box;
		z-index: 100;

		&:before{
			content: "";
			position: absolute;
			left: 5px;
			top: 4px;
			width: 21px;
			height: 21px;
			z-index: 10;
			background: url(../images/sprite.png) no-repeat top left;
		}

		.customSelectBack{
			padding: 0;
			background: none;
			border: none;

			&:before{
				display: none;
			}
		}

		.customSelectArrow{
			line-height: 30px;
			font-size: 16px;
		}

		.customSelectOptions{
			background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
			border:none;
			margin: -30px 0 0 -30px;
			width: 105px !important;
			border-radius: 15px 0 0 0;
		}

		.customSelectScroll{
			max-height: none;
		}

		.customSelectOption{
			padding: 5px 10px 5px 35px;
			text-transform: lowercase;
			border: none;
			font-size: 16px;

			&:first-child{
				border-radius: 15px 0 0 0;
			}

			&:hover{
				background-image: linear-gradient(@gr-red_t, @gr-red_b);
			}
		}
	}

	&__form{
		display: inline-block;
		vertical-align: top;
	}

	input[type="text"].search__input{
		width: 160px;
		vertical-align: top;
		font: 14px/30px Arial, sans-serif;
		height: 30px;
		border:none;
		padding: 0 3px;
		margin: 0;
	}

	&__button{
		background: url(../images/sprite.png) no-repeat bottom left;
		width: 20px;
		height:20px;
		margin: 5px;
		border: none;
		cursor: pointer;
	}

	.ui-datepicker-trigger{
		border-radius: 15px;
		display: inline-block;
		vertical-align: top;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
		margin-left: -2px;
		padding: 0 10px 0 35px;
		position: relative;
		font-family: 'arialn';
		font-weight: 600;
		text-transform: uppercase;
		color: @c-white;
		width: 90px;
		font-size: 16px;
		height: 30px;
		border: none;
		box-sizing: border-box;
		cursor: pointer;

		&:hover{
			background-image: linear-gradient(@gr-red_b, @gr-red_t);
		}

		&:before{
			content: "";
			position: absolute;
			left: 5px;
			top: 4px;
			width: 21px;
			height: 21px;
			background: url(../images/sprite.png) no-repeat right -22px;
		}
	}

	#datepicker{
		display: none;

		& ~ .search__form input[type="text"].search__input{
			width: 170px;
		}
	}
}

.ui-datepicker{
	background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
	margin: 25px 10px 0;
	padding-top: 5px;
	border: none;
	z-index: 15 !important;
	width: 270px;
	font-family: 'arialn';
}

.ui-widget-header{
	background: none;
	border: none;
	color: @c-white;
	text-transform: uppercase;
	font-weight: 600;
}

.ui-datepicker-prev-hover,
.ui-datepicker-next-hover{
	background: none !important;
	border: none !important;
}

.ui-datepicker-prev .ui-icon{
	width: 17px;
	height: 17px;
	background: url(../images/datepicker-arr.png) no-repeat top center;
}
.ui-datepicker-next .ui-icon{
	width: 17px;
	height: 17px;
	background: url(../images/datepicker-arr.png) no-repeat bottom center;
}
.ui-datepicker th{
	font-weight: normal;
	font-size: 12px;
	color: @c-white;
	text-transform: uppercase;
}

.ui-datepicker tbody{
	td{
		background: @c-white;
		opacity: 1 !important;
		padding: 0;
	}

	tr:first-child td:first-child{
		border-radius: 3px 0 0 0;
	}

	tr:first-child td:last-child{
		border-radius: 0 3px 0 0;
	}

	tr:last-child td:first-child{
		border-radius: 0 0 0 3px;
	}

	tr:last-child td:last-child{
		border-radius: 0 0 3px 0;
	}
}

.ui-state-default{
	width: 38px;
	height: 38px;
	font-size: 20px;
	line-height: 24px;
	padding: 7px 0 !important;
	border: none !important;
	border-radius: 50%;
	box-sizing: border-box;
	color: #24282c;
	text-align: center!important;
	background: none !important;
}

.ui-state-highlight{
	background: fadeOut(@gr-red_t, 70%) !important;
}

.ui-state-active,
.ui-state-default:hover{
	background: @gr-red_t !important;
	color: @c-white !important;
}