div(class="search")
	input(type="text", id="datepicker")
	form(class="search__form", method="get", action="/")
		input(class="search__input", type="text", name="search", placeholder="Поиск по № заказа")
		input(class="search__button", type="submit", value="")