@import "../layout/var";

.footer{
	height: 40px;
	margin-top: -40px;
	background-image: linear-gradient(@gr-gray_t, @gr-gray_b);

	&__inner{
		width: 1200px;
		margin: 0 auto;
		padding: 10px 30px;
		height: 40px;
		box-sizing: border-box;
	}

	&__link{
		display: inline-block;
		position: relative;
		width: 163px;
		height: 18px;
	}

	&__logo{
		.poz_center;
	}

	&__switcher{
		float:right;
		padding: 2px;
		line-height: 24px;
		margin: -4px 0;
		font-size: 16px;
		font-weight: 600;
		border-radius: 4px;
		background-image: linear-gradient(#a1a6ac, #bdc8cb);
	}

	&__item{
		display: inline-block;
		vertical-align: top;

		&_active{
			.footer__button{
				background: none;
				color: #e3e6ea;
				cursor: default;
				box-shadow: none;
			}
		}
	}

	&__button{
		display: block;
		text-decoration: none;
		padding: 0 10px;
		border-radius: 3px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.15);

		&_dark{
			background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
			color: @c-white;
		}

		&_light{
			background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
			color: @c-black;
		}
	}
}