div(class="footer")
	div(class="footer__inner clearfix")
		ul.footer__switcher
			li.footer__item.footer__item_active
				a.footer__button.footer__button_dark(href="#") Темный
			li.footer__item
				a.footer__button.footer__button_light(href="#") Светлый
		a(class="footer__link", href="/")
			img(class="footer__logo", src="./images/logo-footer.png", alt="Запчасти на дом")