- var order = [{"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "phone": "8 912 0 444 507"}, "answered": false, "created": false}, {"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "phone": "8 912 0 444 507"}, "answered": false, "created": false, "type": "fire"}, {"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "phone": "8 912 0 444 507"}, "answered": true, "created": true, "type": "success"}]

each orders in order
	div(class="order order_call order_type_"+orders.type)
		div.order-item
			div.order-item__cell.order-item__cell_date
				div.order-item__date= orders.date.date
				div.order-item__month= orders.date.month
				div.order-item__time= orders.date.time
			div.order-item__cell.order-item__cell_profile
				div.order-item__name= orders.user.name
			div.order-item__cell.order-item__cell_phone
				div.order-item__phone= orders.user.phone
			div.order-item__cell.order-item__cell_control
				if orders.answered
					div
						a.order-item__link.order-item__link_answered.order-item__link_active(href="#") Отвечен
				else
					div
						a.order-item__link.order-item__link_answered(href="#") Ответить
			div.order-item__cell.order-item__cell_state
				if orders.created
					div
						a.order-item__link.order-item__link_created.order-item__link_active(href="#") Заказ создан
				else
					div
						a.order-item__link.order-item__link_created(href="#") Создать заказ
			