@import "../layout/var";

.order{
	margin: 15px 0;

	&_vin,
	&_questions,
	&_call{
		.order-item{
			background: @c-white;
		}

		.order-item__mail,
		.order-item__phone{
			display: block;
			width: auto;
		}
	}

	&-item{
		background: @c-order;
		border-radius: 5px;
		display: table;
		width: 100%;
		box-shadow: @shadow;
		position: relative;
		z-index: 10;

		&__cell{
			display: table-cell;
			vertical-align: middle;
			padding: 10px;
			height: 80px;
			line-height: 30px;
			box-sizing: border-box;

			.order_call &{
				height: auto;
			}

			&_number{
				width: 140px;
				font-weight: 600;
				padding-left: 20px;
			}

			&_profile{
				background: @c-white;
				font-weight: 600;

				.order_vin &{
					background: @c-order;
					line-height: 1.5;
				}

				.order_questions &,
				.order_call &{
					background: @c-order;
				}
			}

			&_info{
				width: 300px;
			}

			&_control{
				width: 100px;
				border-left: 1px solid @c-border;
				border-right: 1px solid @c-border;

				.order_vin &,
				.order_questions &,
				.order_call &{
					width: 220px;
				}

				.order_call &{
					text-align: center;
				}
			}

			&_state{
				width: 180px;
				background: @c-white;
				padding: 10px 25px;

				.order-item__link:before{
					left: -35px;
				}
			}

			&_type,
			&_date{
				width: 120px;
				color: @c-white;
				font-weight: 600;
			}

			&_date{
				padding: 10px 15px;

				.order_type_undefined &{
					color: @c-gray;
				}

				.order_call &{
					width: 190px;
				}

				.order_type_undefined.order_call &{
					color: @c-black;
				}
			}

			&_phone{
				width: 250px;
				text-align: center;
			}

			&_text{
				width: 380px;
				line-height: 18px;
			}

			&:first-child{
				border-radius: 5px 0 0 5px;
			}

			&:last-child{
				border-radius: 0 5px 5px 0;
			}
		}

		&__phone,
		&__mail{
			display: inline-block;
			width: 50%;

			.order_call &{
				font-size: 20px;
			}
		}

		&__text_answer{
			color: @c-green;
			padding-top: 10px;
		}

		&__mail-link{
			color: @c-gray;
			font-weight: 400;
		}

		&__count{
			display: inline-block;
			margin: 5px 20px 5px 10px;
			line-height: 20px;
			padding: 0;
			font-size: 16px;
			font-weight: 600;
			text-decoration: none;
			color: @c-black;
			border-bottom: 1px dotted @c-black;

			&_active{
				color: @c-white;
				border-radius: 13px;
				padding: 3px 10px;
				margin: 2px 10px 2px 0;
				border-color: transparent;
			}
		}

		&__state{
			display: inline-block;
			padding-left: 15px;
			color: @gr-red_b;
			position: relative;

			&:before{
				content: '';
				.skew;
				position: absolute;
				top: 5px;
				bottom: 5px;
				left: 0;
				width: 2px;
				background: @gr-red_b;
			}

			&_true{
				color: @c-green;

				&:before{
					background: @c-green;
				}
			}
		}

		&__address{
			display: inline-block;
			color: @c-gray;
			padding: 0 10px;

			&:before{
				content: "";
				display: inline-block;
				background: url(../images/order.png) no-repeat -280px -63px;
				width: 15px;
				height: 15px;
			}
		}

		&__delivery{
			display: inline-block;
			color: @c-lightblue;
			padding: 0 10px;
		}

		&__name{
			font-size: 16px;
		}

		&__price{
			font-size: 20px;
		}

		&__rur{
			font-weight: 400;
			margin-left: 5px;
		}

		&__link{
			text-decoration: none;
			margin-left: 30px;
			position: relative;
			color: @c-black;
			font-size: 13px;
			display: inline-block;

			&:before{
				content: "";
				position: absolute;
				left: -30px;
				top: 0;
				width: 30px;
				height: 30px;
				background: url(../images/order.png) no-repeat;
			}

			&_edit{
				&:before{
					background-position: -90px 0;
				}
			}

			&_report{
				border-bottom: 1px dotted @c-black;
				line-height: 14px;
				margin: 8px 0 8px 30px;

				&:before{
					top: -8px;
					background-position: -120px 0;
				}
			}

			&_ok{
				&:before{
					background-position: -30px 0;
				}

				&:hover:before{
					background-position: -30px -30px;
				}
			}

			&_cancel{
				&:before{
					background-position: -60px 0;
				}

				&:hover:before{
					background-position: -60px -30px;
				}
			}

			&_answered{
				&:before{
					background-position: -30px 0;
				}

				&.order-item__link_active:before,
				&:hover:before{
					background-position: -30px -30px;
				}
			}

			&_mail{
				display: inline-block;
				line-height: 16px;
				padding: 7px 0 0;
				text-decoration: none;
				color: @c-black;
				border-bottom: 1px dotted @c-black;
				margin-top: 10px;

				&.order-item__link_active{
					background: @gr-blue_b;
					color: @c-white;
					border-radius: 13px;
					padding: 5px 10px 5px 30px;
					margin-left: 0;

					&:before{
						background-position: -240px 0;
						left: 0;
						top: -2px;
					}
				}

				&:before{
					background-position: -240px -30px;
				}
			}

			&_created{
				&:before{
					background-position: -210px 0;
				}

				&:hover:before{
					background-position: -210px -60px;
				}

				&.order-item__link_active:before{
					background-position: -210px -30px;
				}
			}

			&_create{
				&:before{
					background-position: -210px 0;
				}

				&:hover:before{
					background-position: -210px -30px;
				}
			}

			&_reship{
				&:before{
					background-position: -150px 0;
				}
			}

			&_archive{
				&:before{
					background-position: -180px 0;
				}
			}

			&_payment{
				&:before{
					background-position: 0 0;
				}

				&:hover:before{
					background-position: 0 -30px;
				}
			}
		}

		&__date{
			font-size: 35px;
			line-height: 1;
			font-weight: 400;

			.order_call &{
				font-size: 14px;
				font-weight: 600;
				display: inline-block;
				margin-right: 5px;
			}
		}

		&__month{
			line-height: 1;

			.order_call &{
				display: inline-block;
				margin-right: 5px;
			}
		}

		&__time{
			margin-top: 15px;

			.order_type_undefined &{
				color: @c-black;
			}

			.order_call &{
				display: inline-block;
				margin: 0;
			}
		}

		&__auto{
			margin-top: 10px;
			font-weight: 400;
			color: lighten(@c-black, 20);
		}

		&__comment{
			text-align: center;
			color: @c-gray;
		}

		&__progress{
			color: @c-black;
			font-weight: 600;
			font-size: 16px;
		}
	}

	&_type_new{
		.order-item__cell_type{
			background: @gr-blue_b;

			&:after{
				content: 'Новый';
			}
		}

		.order-item__count_active{
			background: @gr-blue_b;
		}
	}

	&_type_fire{
		.order-item__cell_date,
		.order-item__cell_type{
			background: @c-orange;
		}

		.order-item__cell_type{
			&:after{
				content: "новый горячий";
				line-height: 14px;
				display: inline-block;
			}
		}

		.order-item__count_active{
			background: @c-orange;
		}

		.order-item__time-box{
			position: relative;

			&:after{
				content: "";
				display: inline-block;
				background: url(../images/order.png) no-repeat -270px -30px;
				width: 30px;
				height: 22px;
				position: absolute;
				bottom: -80%;
				right: 0;
			}
		}

		.order-item__time:after{
			content: "";
			display: inline-block;
			background: url(../images/order.png) no-repeat -270px -30px;
			width: 30px;
			height: 22px;
		}

		.order-item__cell_number{
			background: #fbe9e9;
		}
	}

	&_type_success{
		.order-item__cell_date,
		.order-item__cell_type{
			background: @c-green;
		}

		.order-item__cell_type:after{
			content: 'Готов';
		}

		.order-item__count_active{
			background: @c-green;
		}
	}

	&_type_verification{
		.order-item__cell_type{
			background: @gr-red_b;
			padding-bottom: 0;

			&:after{
				content: "ждет проверки оплаты";
				line-height: 14px;
				display: inline-block;
			}
		}

		.order-item__count_active{
			background: @gr-red_b;
		}
	}

	&_type_not-confirmed,
	&_type_partially{
		.order-item__cell_type{
			background: @c-purpur;

			&:after{
				line-height: 14px;
				display: inline-block;
			}
		}

		.order-item__count_active{
			background: @c-purpur;
		}
	}

	&_type_not-confirmed .order-item__cell_type:after{
		content: "не подтвержден"
	}

	&_type_partially .order-item__cell_type:after{
		content: "подтвержден частично"
	}

	&_type_confirmation{
		.order-item__cell_type{
			background: @c-lightblue;

			&:after{
				content: "На подтвержд.";
				line-height: 14px;
				display: inline-block;
			}
		}

		.order-item__count_active{
			background: @c-lightblue;
		}
	}

	&_type_progress{
		.order-item__cell_type{
			background: @c-progress;

			&:after{
				content: "В Работе";
			}
		}

		.order-item__count_active{
			background: @c-progress;
		}
	}

	&_type_refusal{
		.order-item__cell_type{
			background: @gr-red_b;

			&:after{
				content: "Отказ на выдаче";
				line-height: 14px;
				display: inline-block;
			}
		}

		.order-item__count_active{
			background: @gr-red_b;
		}
	}
}