- var order = [{"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "phone": "8 912 0 444 507", "auto": "BMW 320i, 2007, 2L", "number": "160003-103 GR"}, "text" : "Однажды осенью матушка варила в гостиной медовое варенье а я, облизываясь, смотрел на кипучие пенки. Батюшка у окна читал Придворный Календарь, ежегодно им получаемый.", "answered": true, "created": false}, {"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", "auto": "BMW 320i, 2007, 2L", "number": "160003-103 GR"}, "text" : "Однажды осенью матушка варила в гостиной медовое варенье а я, облизываясь, смотрел на кипучие пенки. Батюшка у окна читал Придворный Календарь, ежегодно им получаемый.", "answered": false, "created": false, "type" : "fire"}, {"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "phone": "8 912 0 444 507", "auto": "BMW 320i, 2007, 2L", "number": "160003-103 GR"}, "text" : "Однажды осенью матушка варила в гостиной медовое варенье а я, облизываясь, смотрел на кипучие пенки. Батюшка у окна читал Придворный Календарь, ежегодно им получаемый.", "answered": false, "created": true}, {"date": {"date": "27", "month": "Декабря", "time": "14:50"},"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", "auto": "BMW 320i, 2007, 2L", "number": "160003-103 GR"}, "text" : "Однажды осенью матушка варила в гостиной медовое варенье а я, облизываясь, смотрел на кипучие пенки. Батюшка у окна читал Придворный Календарь, ежегодно им получаемый.", "answered": true, "created": true, "type" : "success"}]

each orders in order
	div(class="order order_vin order_type_"+orders.type)
		div.order-item
			div.order-item__cell.order-item__cell_date
				div.order-item__date= orders.date.date
				div.order-item__month= orders.date.month
				div.order-item__time= orders.date.time
			div.order-item__cell.order-item__cell_profile
				div.order-item__name= orders.user.name
				if orders.user.phone
					div.order-item__phone= orders.user.phone
				if orders.user.mail
					div.order-item__mail
						a.order-item__mail-link(href="mailto:"+orders.user.mail)= orders.user.mail
				if orders.user.auto
					div.order-item__auto= orders.user.auto
				if orders.user.number
					div.order-item__number= orders.user.number
			div.order-item__cell.order-item__cell_text
				div.order-item__text= orders.text
			div.order-item__cell.order-item__cell_control
				if orders.answered
					div
						a.order-item__link.order-item__link_answered.order-item__link_active(href="#") Отвечен
				else
					div
						a.order-item__link.order-item__link_answered(href="#") Отвечен
					div
						a.order-item__link.order-item__link_mail(href="#") Ответить на Email
			div.order-item__cell.order-item__cell_state
				if orders.created
					div
						a.order-item__link.order-item__link_created.order-item__link_active(href="#") Заказ создан
				else
					div
						a.order-item__link.order-item__link_created(href="#") Создать заказ
		include ../list/questions.jade