- var order = [{"number": "2575429","price": "4 572","count": "2","type": "new","time": "12 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": true,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "ok", "text": "Согласовано"}, {"name": "cancel", "text": "Отменить"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "new","time": "12 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": false,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "ok", "text": "Согласовано"}, {"name": "cancel", "text": "Отменить"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "fire","time": "1,5 часа","address": "Екатеринбург","delivery": "Доставка ТК","state": true,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "ok", "text": "Согласовано"}, {"name": "cancel", "text": "Отменить"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "verification","time": "12 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": false,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "payment", "text": "Оплачен"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "not-confirmed","time": "1,5 часа","address": "Екатеринбург","delivery": "Доставка ТК","state": true,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "ok", "text": "Согласовано"}, {"name": "cancel", "text": "Отменить"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "partially","time": "12 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": false,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "reship", "text": "Переотправить"}, {"name": "cancel", "text": "Отменить"}], "list": "partially"},{"number": "2575429","price": "4 572","count": "2","type": "confirmation","time": "1,5 часа","address": "Екатеринбург","delivery": "Доставка ТК","state": true,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "cancel", "text": "Отменить"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "progress","time": "12 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": false,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "progress": "4/6", "list": "small"},  {"number": "2575429","price": "4 572","count": "2","type": "success","time": "7 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": true,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "archive", "text": "В архив"}], "list": "small"},{"number": "2575429","price": "4 572","count": "2","type": "refusal","time": "17 Минут","address": "Екатеринбург","delivery": "Доставка ТК","state": false,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "cancel", "text": "Удалить"}, {"name": "create", "text": "Создать заказ"}], "list": "refusal"},{"number": "2575429","price": "4 572","count": "2","type": "success","time": "15 минут","address": "Екатеринбург","delivery": "Доставка ТК","state": true,"user": {"name": "Александр Арбатский", "mail": "arbatsky.a@gmail.com", phone: "8 912 0 444 507"}, "links": [{"name": "archive", "text": "В архив"}], "list": "small"}]

each orders in order
	div(class="order order_type_"+orders.type)
		div.order-item
			div.order-item__cell.order-item__cell_number
				div.order-item__number= orders.number
				div.order-item__price= orders.price
					span.order-item__rur Р
			div.order-item__cell.order-item__cell_profile
				div.order-item__name= orders.user.name
				div.order-item__contact
					div.order-item__phone= orders.user.phone
					div.order-item__mail
						a.order-item__mail-link(href="mailto:"+orders.user.mail)= orders.user.mail
			div.order-item__cell.order-item__cell_info
				div
					a.order-item__count(href="#")= orders.count 
						| &nbsp;Товара

					if orders.state
						div(class="order-item__state") Ожидает оплаты
					else
						div(class="order-item__state order-item__state_true") Оплачен
				div
					div.order-item__address= orders.address
					div.order-item__delivery= orders.delivery
			div.order-item__cell.order-item__cell_control
				div
					a.order-item__link.order-item__link_edit(href="#") Правка
				div
					include ../report/report.jade
			div.order-item__cell.order-item__cell_state
				if orders.links
					-var links = orders.links
					each link in links
						div
							a(href="#", class="order-item__link order-item__link_" + link.name)= link.text 
				if orders.progress
					div.order-item__comment 
						| Собрано товаров:
						div.order-item__progress= orders.progress
			div.order-item__cell.order-item__cell_type
				div.order-item__time-box= orders.time
		if orders.list == "small"
			include ../list/small.jade
		if orders.list == "partially"
			include ../list/partially.jade
		if orders.list == "refusal"
			include ../list/refusal.jade