- var orders = [{"title": "Никита Иванов", "orders":[{"count": "4", "status": false, "payment": "Наличными", "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "12 минут"},{"count": "4", "status": true, "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "25 минут", "type": "success", "state": {"type": "progress", "text": "Перемещается в готовые"}},{"count": "4", "status": false, "payment": "Счет", "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "25 минут", "type": "confirm", "state": {"type": "button"}},{"count": "4", "status": false, "payment": "счет", "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "10 минут", "type": "expectation", "state": {"type": "expectation", "text": "Ожидает подтверждение оплаты"}}]}, {"title": "Виктор Еремеев", "orders":[{"count": "4", "status": false, "payment": "Наличными", "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "1 час", "type": "hot"}]}]

each order in orders
	h1.card__executor= order.title
	div.card__wrapper
		- var data = order.orders
		each info in data
			div(class="card card_assembly card_type_"+info.type)
				div.card__time= info.time
				div.card__top
					div.card__cell.card__count= info.count
						| &nbsp;Товара
					div.card__cell.card__payment-wrapper
						if info.status
							div(class="card__status card__status_true") Оплачен
						else
							div(class="card__status") Ожидает оплаты
						if info.payment
							div.card__payment= info.payment
					div.card__cell.card__delivery-wrapper
						div.card__city= info.city
						div.card__delivery= info.delivery
					div.card__cell.card__profile
						div.card__name= info.name
						div.card__phone= info.phone
					div.card__cell.card__number
						div.product__executor
							div.product__executor-number= info.number
				div.card__body
					include ../product/product-assembly.jade
				if info.state
					div.card__footer
						div(class="card__state card__state_" + info.state.type)
							if info.state.type == "button" 
								a.card__confirm(href="#") 
									div Подтвердить оплату
							else
								span= info.state.text