- var orders = [{"title": "ООО «БЕРГ»", "state":{"type": "success", "text": "ПОДТВЕРЖДЕН", "date": "20 Октября 2015"}, "preOrder": true}, {"title": "ООО «ЭЛЕНБЕРГ»", "state":{"type": "success", "text": "ПОДТВЕРЖДЕН", "date": "20 Октября 2015"}}]

each order in orders
	div.card.card_basket
		div.card__header
			div.card__title= order.title
		div.card__body
			include ../product/product-basket.jade
			if order.preOrder
				div.card__pre-order Перезаказ
				include ../product/product-pre-order.jade
		div.card__footer
			div(class="card__state card__state_button")
				a.card__confirm(href="#") 
					div В работу