@import "../layout/var";

.card{
	background: @c-white;
	border-radius: 5px;
	padding: 25px 10px;
	margin-bottom: 30px;

	&__wrapper{
		.filter + &{
			padding-top: 15px;
		}
	}

	&__body{
		padding: 20px 0 30px;
	}

	&__title{
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
		font-size: 26px;
		text-transform: uppercase;
	}

	&__footer{
		font-size: 16px;
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
	}

	&__state{
		display: inline-block;
		text-transform: uppercase;
		margin-right: 25px;

		&_success{
			color: @c-green;
		}

		&_progress{
			color: @c-progress;
		}

		&_expectation{
			color: @c-orange;
		}
	}

	&__date{
		display: inline-block;
		color: fadeout(@c-black, 60%);
	}

	&__top{
		background: @c-white;
		border-radius: 5px 5px 0 0;
		box-shadow: @shadow;
		position: relative;
		z-index: 1;
		height: 50px;
		display: table;
		table-layout: fixed;
		width: 100%;
		font-weight: 600;
		line-height: 30px;
	}

	&__cell{
		display: table-cell;
		vertical-align: middle;
	}

	&__time{
		position: absolute;
		top: 0;
		right: -110px;
		width: 90px;
		z-index: 0;
		color: @c-white;
		display: table-cell;
		vertical-align: middle;
		border-radius: 5px;
		font-weight: 600;
		line-height: 40px;
		padding: 5px 10px 5px 20px;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
	}

	&__count{
		width: 90px;
		padding: 0 15px;
		font-size: 16px;
	}

	&__payment{
		display: inline-block;
		font-weight: 400;
		color: @c-gray; 
		font-size: 13px;

		&-wrapper{
			width: 225px;
		}
	}

	&__status{
		display: inline-block;
		padding-left: 5px;
		color: @gr-red_b;
		position: relative;
		font-weight: 400;
		width: 120px;
		font-size: 13px;

		&:before{
			content: '';
			.skew;
			position: absolute;
			top: 5px;
			bottom: 5px;
			left: -10px;
			width: 2px;
			background: @gr-red_b;
		}

		&_true{
			color: @c-green;

			&:before{
				background: @c-green;
			}
		}
	}

	&__delivery{
		display: inline-block;
		color: @c-lightblue;
		padding-left: 20px;

		&-wrapper{
			font-weight: 400;
			width: 230px;
			padding: 0 20px;
			background: @c-order;
		font-size: 13px;
		}
	}

	&__profile{
		width: 350px;
	}

	&__name{
		width: 170px;
		padding: 0 10px;
		display: inline-block;
	}

	&__phone{
		width: 140px;
		padding: 0 10px;
		display: inline-block;
	}

	&__number{
		text-align: right;
		padding-right: 15px;
	}

	&__city{
		display: inline-block;
		color: @c-gray;
		padding: 0 10px 0 0;

		&:before{
			content: "";
			display: inline-block;
			background: url(../images/order.png) no-repeat -280px -63px;
			width: 15px;
			height: 15px;
		}
	}

	&__executor{
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
		font-size: 28px;
		color: @c-white;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	&__pre-order{
		padding: 25px 0 5px;
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
		font-size: 18px;
		text-transform: uppercase;
	}

	&_assembly{
		padding: 0;
		margin-right: 110px;
		position: relative;

		.card__body{
			padding: 10px 15px;
		}

		.card__footer{
			position: relative;
			padding: 10px 15px 20px;
		}

		.product__cell_title{
			width: 545px;
		}

		.product__cell_info{
			width: 180px;
		}

		.product__cell_count{
			width: 140px;
		}
	}

	&_sellers{
		.product__cell_price{
			width: 165px;
		}

		.product__cell_type_success{
			border-radius: 3px;
		}
	}

	&_shipment{
		.card__footer:after{
			display: none;
		}

		.card__confirm div:before{
			display: none;
		}
	}

	&_basket{
		.card__confirm div:before{
			display: none;
		}
	}

	&_shipped{
		.card__footer:after{
			content: "Выполнен" !important;
		}
	}

	&__confirm{
		.skew;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);
		line-height: 30px;
		box-shadow: @shadow;
		display: inline-block;
		text-decoration: none;
		color: @c-white;
		border-radius: 3px;
		padding: 0 15px;
		margin: -5px 0;

		&:hover{
			background-image: linear-gradient(@gr-red_b,@gr-red_t);
		}

		div{
			.no-skew;

			&:before{
				content: '';
				display: inline-block;
				background: url(../images/order.png) no-repeat 0 -60px;
				width: 30px;
				height: 30px;
				margin: -10px 10px -10px 0;
			}
		}
	}

	&_type{
		&_hot{
			.card__time{
				background: @c-orange;

				&:after{
					content: "";
					display: inline-block;
					background: url(../images/order.png) no-repeat -270px -30px;
					width: 30px;
					height: 22px;
				}
			}
		}

		&_success{
			.card__time{
				background: @c-green;
			}

			.card__footer:after{
				content: 'Собран';
				color: @c-green;
				position: absolute;
				right: 25px;
				top: 10px;
				text-transform: uppercase;
			}
		}

		&_confirm,
		&_expectation{
			.card__time{
				background: @gr-red_b;
			}

			.card__footer:after{
				content: 'Собран';
				color: @c-green;
				position: absolute;
				right: 25px;
				top: 10px;
				text-transform: uppercase;
			}
		}
	}

	&_complete{
		.card__footer:after{display: none;}
	}
}