- var orders = [{"title": "ООО «БЕРГ»", "state":{"type": "success", "text": "ПОДТВЕРЖДЕН", "date": "20 Октября 2015"}}, {"title": "ООО «ЭЛЕНБЕРГ»", "state":{"type": "progress", "text": "Передается в работу"}}]

each order in orders
	div.card
		div.card__header
			div.card__title= order.title
		div.card__body
			include ../product/product-storage.jade
		div.card__footer
			div(class="card__state card__state_" + order.state.type)= order.state.text
			if order.state.date
				div.card__date= order.state.date
