- var orders = [{"count": "4", "status": false, "payment": "Наличными", "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "12 минут", "type": "success", "state": {"type": "progress", "text": "Переместится в Архив через 30 минут..."}},{"count": "4", "status": true, "city": "Екатеринбург", "delivery": "Самовывоз", "name": "Александр Арбатский", "phone": "8 912 0 444 507", "number":"2575429", "time": "25 минут", "type": "success", "state": {"type": "progress", "text": "Переместится в Архив через 25 минут..."}}]

div.card__wrapper
	each info in orders
		div(class="card card_assembly card_shipped card_type_"+info.type)
			div.card__time= info.time
			div.card__top
				div.card__cell.card__count= info.count
					| &nbsp;Товара
				div.card__cell.card__payment-wrapper
					if info.status
						div(class="card__status card__status_true") Оплачен
					else
						div(class="card__status") Ожидает оплаты
					if info.payment
						div.card__payment= info.payment
				div.card__cell.card__delivery-wrapper
					div.card__city= info.city
					div.card__delivery= info.delivery
				div.card__cell.card__profile
					div.card__name= info.name
					div.card__phone= info.phone
				div.card__cell.card__number
					div.product__executor
						div.product__executor-number= info.number
			div.card__body
				include ../product/product-assembly.jade
			div.card__footer
				div(class="card__state card__state_" + info.state.type)
					span= info.state.text