doctype html
html(class='no-js', lang='en')
	head
		include ../blocks/layout/head.jade
	body(class="page")
		div(class="page__inner")
			include ../blocks/header/header-storage.jade

			div(class="page__header clearfix")
				include ../blocks/search/search.jade

				div(class="complete__switcher switcher")
					input(class="complete__checkbox switcher__input", name="completeSwitcher", id="completeSwitcher", type="checkbox")
					label(class="complete__label complete__label_active switcher__label switcher__label_active")
						| Все
					label(class="complete__switch complete__label", for="completeSwitcher")
					label(class="complete__label complete__label_unactive switcher__label switcher__label_unactive")
						| По менеджерам

			div.accordion.accordion_active
				div.accordion__title Иван Ермолаев
				div.accordion__body
					include ../blocks/card/complete.jade
			div.accordion
				div.accordion__title Дмитрий еремеев
				div.accordion__body
					include ../blocks/card/complete.jade

			div(class="page__footer")

		include ../blocks/footer/footer.jade

		include ../blocks/layout/foot.jade