doctype html
html(class='no-js', lang='en')
	head
		include ../blocks/layout/head.jade
	body(class="page")
		div(class="page__inner")
			include ../blocks/header/header.jade

			div(class="page__header clearfix")

				h1(class="page__title")
					| Список поставщиков

			include ../blocks/letter/letter.jade

			include ../blocks/provider/provider.jade

			div(class="page__footer")

		include ../blocks/footer/footer.jade

		include ../blocks/layout/foot.jade