doctype html
html(class='no-js', lang='en')
	head
		include ../blocks/layout/head.jade
	body(class="page")
		div(class="page__inner")
			include ../blocks/header/header.jade

			div(class="page__header clearfix")
				include ../blocks/search/search-date.jade

				h1(class="page__title")
					| Вопросы

			include ../blocks/filter/filter-small.jade

			include ../blocks/order/order-questions.jade

			div(class="page__footer")

		include ../blocks/footer/footer.jade

		include ../blocks/layout/foot.jade