doctype html
html(class='no-js', lang='en')
	head
		include ../blocks/layout/head.jade
	body(class="page")
		div(class="page__inner")
			include ../blocks/header/header-sellers.jade

			div(class="page__header clearfix")
				include ../blocks/search/search.jade

				div(class="page__select")
					select.select.select__page(name="sellers")
						option(value="all") Все поставщики
						option(value="sellers1") Поставщик 1

			include ../blocks/card/sellers.jade

			div(class="page__footer")

		include ../blocks/footer/footer.jade

		include ../blocks/layout/foot.jade