doctype html
html(class='no-js', lang='en')
	head
		include ../blocks/layout/head.jade
	body(class="page")
		div(class="page__inner")
			include ../blocks/header/header-storage.jade

			div(class="page__header clearfix")
				include ../blocks/search/search.jade

				include ../blocks/menu/storage.jade

			include ../blocks/filter/filter-small.jade

			include ../blocks/card/shipment.jade

			div(class="page__footer")

		include ../blocks/footer/footer.jade

		include ../blocks/layout/foot.jade