doctype html
html(class='no-js', lang='en')
	head
		include ../blocks/layout/head.jade
	body(class="page")
		div(class="page__inner")
			include ../blocks/header/header-superior.jade

			div(class="page__header clearfix")
				include ../blocks/search/search.jade

				h1(class="page__title")
					| Корзины заказов

			include ../blocks/provider/provider-order.jade

			div(class="page__footer")

		include ../blocks/footer/footer.jade

		include ../blocks/layout/foot.jade