- var letters = ["А","Б","В","Г","Д","З","Е","Ж","З","И","К","Л","М","Н","О","П","Р","С","Т","Ф","Х","ц","Ш","Э","Ю","Я"]

div.clearfix
	include ../search/search-letter.jade
	div.letter__wrapper
		each letter, index in letters
			-var active = ""
			if index == 1
				-var active = "letter__link_active"
			a(href="#"+ letter, class="letter__link skew " + active)
				span.no-skew= letter