@import "../layout/var";

.letter{
	&__wrapper{
		line-height: 26px;
		padding:0 300px 10px 0;
	}

	&__link{
		display: inline-block;
		padding: 4px 10px 0;
		text-decoration: none;
		color: @c-white;
		font-family: 'helios';
		font-style: italic;
		font-weight: 600;
		font-size: 24px;
		border-radius: 3px;
		text-transform: uppercase;

		span{
			display: inline-block;
		}

		&_active{
			background-image: linear-gradient(@gr-red_b, @gr-red_t);
		}
	}
}