-var providers = [{"title": "ООО «берГ»", "contact": {"address": "620049, Россия, Екатеринбург, <br>ул. Папанина, дом 19, литер «Б», офис 427", "phone": ["8 343 256 56 59", "8 343 310 17 18"], "mail":"parts@berg-ekb.ru", "web": "www.berg-ekb.ru"}, "requisites":{"title": "ООО «берГ»", "inn": "6670342988", "kpp": "667001001", "ogrn": "1116670018299", "post": "620049, г. Екатеринбург, Папанина, дом 19, литер «Б», оф.427", "legal": "620049, г. Екатеринбург, ул. Первомайская, д.109, оф. 436"}, "products": "Аккумуляторы, Авторезина, Автохимия, Фильтры, Расходные материалы, Стойки, Патрубки, и многое другое"}, {"title": "ООО «берГ»", "contact": {"address": "620049, Россия, Екатеринбург, <br>ул. Папанина, дом 19, литер «Б», офис 427", "phone": ["8 343 256 56 59", "8 343 310 17 18"], "mail":"parts@berg-ekb.ru", "web": "www.berg-ekb.ru"}, "requisites":{"title": "ООО «берГ»", "inn": "6670342988", "kpp": "667001001", "ogrn": "1116670018299", "post": "620049, г. Екатеринбург, Папанина, дом 19, литер «Б», оф.427", "legal": "620049, г. Екатеринбург, ул. Первомайская, д.109, оф. 436"}, "products": "Аккумуляторы, Авторезина, Автохимия, Фильтры, Расходные материалы, Стойки, Патрубки, и многое другое"}, {"title": "ООО «берГ»", "contact": {"address": "620049, Россия, Екатеринбург, <br>ул. Папанина, дом 19, литер «Б», офис 427", "phone": ["8 343 256 56 59", "8 343 310 17 18"], "mail":"parts@berg-ekb.ru", "web": "www.berg-ekb.ru"}, "requisites":{"title": "ООО «берГ»", "inn": "6670342988", "kpp": "667001001", "ogrn": "1116670018299", "post": "620049, г. Екатеринбург, Папанина, дом 19, литер «Б», оф.427", "legal": "620049, г. Екатеринбург, ул. Первомайская, д.109, оф. 436"}, "products": "Аккумуляторы, Авторезина, Автохимия, Фильтры, Расходные материалы, Стойки, Патрубки, и многое другое"}]

each provider in providers
	div.provider
		div.provider__title= provider.title
		div.provider__info
			div.provider__body
				div.provider__cell
					div.provider__address= provider.contact.address
					-var phones = provider.contact.phone
					each phone in phones
						div.provider__phone= phone
					div.provider__mail
						a.provider__mail-link(href="mailto:"+ provider.contact.mail)= provider.contact.mail
					div.provider__web
						a.provider__web-link(href="http://"+ provider.contact.web)= provider.contact.web
				div.provider__cell
					div.provider__requisites Реквизиты
					div.provider__requisites-title= provider.requisites.title
					div.provider__requisites-item
						| ИНН
						b= provider.requisites.inn
					div.provider__requisites-item
						| КПП
						b= provider.requisites.kpp
					div.provider__requisites-item
						| ОГРН
						b= provider.requisites.ogrn
					div.provider__post
						| Почтовый адрес:
						span= provider.requisites.post
					div.provider__legal
						| Юр. адрес:
						span= provider.requisites.legal
			div.provider__product= provider.products