-var managers = [{"title": "Николай ПОддубный", "state": true},{"title": "Дмитрий Еремеев", "state": true, "hot": "2"},{"title": "Иван Ермолаев", "state": true, "hot": "4"}]

each manager, index in managers
	div.superior.accordion
		div.superior__top
			div.superior__title.accordion__title= manager.title
			div(class="complete__switcher superior__switcher switcher")
				input(class="complete__checkbox switcher__input", name="completeSwitcher"+index, id="completeSwitcher"+index, type="checkbox", checked)
				label(class="complete__label complete__label_active switcher__label switcher__label_active")
					| Активен
				label(class="complete__switch complete__label", for="completeSwitcher"+index)
				label(class="complete__label complete__label_unactive switcher__label switcher__label_unactive")
					| Не активен
			a(class="superior__button", href="#")
				span(class="superior__button-content")
					| архив заказов
			if manager.hot
				div.superior__hot= manager.hot
		div.superior__body.accordion__body
			include ../filter/filter.jade
			include ../order/order-list.jade