@import "../layout/var";

.provider{
	margin: 15px 310px 15px 0;
	background: @c-white;
	border-radius: 5px;

	&_active{
		.provider__title:before{
			background-position: bottom center;
		}
	}

	&__title{
		padding: 17px 45px 13px 10px;
		font-family: 'helios';
		font-style: italic;
		font-weight: 600;
		font-size: 23px;
		line-height: 24px;
		text-transform: uppercase;
		position: relative;
		border-radius: 5px;
		cursor: pointer;

		&:before{
			content: "";
			position: absolute;
			width: 20px;
			height: 15px;
			background: url(../images/arrProvider.png) no-repeat top center;
			top: 20px;
			right: 15px;
		}
	}

	&__info{
		display: none;
	}

	&__body{
		padding: 0 10px 15px;
	}

	&__cell{
		padding: 0 20px;
		display: inline-block;
		vertical-align: top;
		line-height: 20px;

		&:first-child{
			width: 340px;
		}

		&:last-child{
			width: 450px;
			line-height: 24px;
		}
	}

	&__address{
		font-size: 13px;
		position: relative;
		padding-bottom: 15px;

		&:before{
			content: "";
			background: url("../images/order.png") no-repeat -280px -65px;
			width: 15px;
			height: 15px;
			position: absolute;
			left: -20px;
			top: 0;
		}
	}

	&__phone{
		font-size: 18px;
		padding-bottom: 5px;
	}

	&__mail,
	&__web{
		padding: 5px 0 10px;

		&-link{
			color: @c-lightblue;
		}
	}

	&__requisites{
		color: @c-gray;
		font-weight: 600;

		&-title{
			font-weight: 600;
			text-transform: uppercase;
		}

		&-item{
			font-size: 13px;

			b{
				font-size: 14px;
				font-weight: 600;
				margin-left: 5px;
			}
		}
	}

	&__post,
	&__legal{
		font-size: 11px;

		span{
			margin-left: 3px;
		}
	}

	&__product{
		color: @c-gray;
		padding: 15px 30px;
		border-radius: 0 0 5px 5px;
		background: @c-odd;
	}
}