@import "../layout/var";

.superior{
	padding-bottom: 30px;

	&__title{
		position: relative;
		font-size: 23px;
		line-height: 20px;
		margin-top: 4px;

		&:before{
			content: "";
			position: absolute;
			left: -25px;
			top: 1px;
			width: 20px;
			height: 15px;
			background: url("../images/arrSuperior.png") no-repeat bottom center;

			.accordion_active &{
				background-position: top center;
			}
		}
	}

	&__switcher{
		display: inline-block;
		vertical-align: top;
		margin: 0 30px;
	}

	&__button{
		text-decoration: none;
		.skew;
		color: @c-white;
		display: inline-block;
		border-radius: 3px;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);
		box-shadow: @shadow;
		line-height: 28px;
		padding: 0 10px;
		vertical-align: top;
		text-transform: uppercase;
		text-shadow: 0 1px 0 fadeout(@c-black, 70%);

		&-content{
			display: inline-block;
			.no-skew;
		}
	}

	&__body{
		padding: 25px 0;
	}

	&__hot{
		color: @c-white;
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		font-family: 'arialn';
		font-style: italic;
		font-weight: 600;
		position: relative;
		padding-left: 60px;
		line-height: 30px;

		&:after{
			content: "";
		    display: inline-block;
		    background: url(../images/sprite.png) -42px 0 no-repeat;
		    width: 15px;
		    height: 15px;
		    margin-left: 10px;
		}
	}
}