ul(class="menu")
	li(class="menu__item")
		a(class="menu__link", href="./index.html")
			span(class="menu__link-content")
				| Корзины заказов
	li(class="menu__item")
		a(class="menu__link", href="./vin.html")
			span(class="menu__link-content")
				| VIN-Запросы
				span(class="menu__count")
					| 3
	li(class="menu__item")
		a(class="menu__link", href="./call.html")
			span(class="menu__link-content")
				| Перезвон
				span(class="menu__count")
					| 4
	li(class="menu__item")
		a(class="menu__link", href="./questions.html")
			span(class="menu__link-content")
				| Вопросы
				span(class="menu__count")
					| 6
	li(class="menu__item")
		a(class="menu__link", href="#")
			span(class="menu__link-content")
				| АРХИВ заказов
	li(class="menu__item")
		a(class="menu__link", href="./provider.html")
			span(class="menu__link-content")
				| Поставщики