ul(class="menu")
	li(class="menu__item")
		a(class="menu__link", href="#")
			span(class="menu__link-content")
				| Корзины поставщиков
	li(class="menu__item menu__item_active")
		a(class="menu__link", href="#")
			span(class="menu__link-content")
				| Архив готовых
	li(class="menu__item")
		a(class="menu__link", href="#")
			span(class="menu__link-content")
				| Поставщики