@import "../layout/var";

.menu{
	display: block;
	padding-right: 200px;

	&__item{
		display: inline-block;
		vertical-align: top;

		&_active{
			.menu__link{
				background: @c-dark;
				color: fadeout(@c-white, 80%);
			}
		}
	}

	&__link{
		display: block;
		line-height: 38px;
		padding: 0 15px;
		color: @c-white;
		border-radius: 3px;

		&-content{
			.no-skew;
			display: inline-block;
		}
	}

	&__count{
		display: inline-block;
		font-size: 14px;
		line-height: 20px;
		padding: 0 5px;
		margin-left: 7px;
		min-width: 10px;
		border-radius: 10px;
		background: @c-dark;
		text-align: center;
	}

	&_storage{
		background: #fff;
		border-radius: 5px;
		display: inline-block;
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
		font-size: 16px;
		text-transform: uppercase;
		padding-right: 0;

		.menu__link{
			color: @c-black;
			line-height: 30px;
			position: relative;
			padding: 0 10px 0 20px;
			border-radius: 0;

			&-content{
				transform: skew(0);
			}

			&:before{
				content: "";
				border-right: 7px solid @c-white;
				border-bottom: 15px solid transparent;
				width: 0;
				height: 0;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				transform: skewX(20deg);
			}

			&:after{
				content: "";
				border-left: 10px solid @c-white;
				border-bottom: 15px solid transparent;
				border-top: 15px solid transparent;
				width: 0;
				height: 0;
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 1;
			}
		}

		.menu__count{
			background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
			color: @c-white;
		}

		.menu__item{
			&:first-child{
				.menu__link{
					padding-left: 10px;
					border-radius: 4px 0 0 4px;

					&:before,
					&:after{
						display: none;
					}
				}
			}

			&:last-child{
				.menu__link{
					padding-right:10px;
					border-radius: 0 4px 4px 0;
				}
			}
		}

		.menu__item_active{
			.menu__link{
				color: @c-white;
				background-image: linear-gradient(@gr-red_t, @gr-red_b);
			}

			.menu__count{
				background: #fff;
				display: inline-block;
				color: @gr-red_b;
			}

			& + .menu__item .menu__link{
				padding-left: 10px;

				&:before{
					right: 100%;
					left: auto;
					border-right: 5px solid @c-white;
					transform: skewX(0);
				}

				&:after{
					left: auto;
					right: 100%;
					border-bottom: none;
					border-left: none;
					border-right: 10px solid @c-white;
				}
			}
		}
	}
}