ul(class="menu")
	li(class="menu__item")
		a(class="menu__link", href="./storage.html")
			span(class="menu__link-content")
				| Корзины заказов
	li(class="menu__item")
		a(class="menu__link", href="./complete.html")
			span(class="menu__link-content")
				| Архив готовых