ul(class="menu menu_storage")
	li(class="menu__item")
		a(class="menu__link", href="./storage.html")
			span(class="menu__link-content")
				| Ожидается
				span(class="menu__count")
					| 2
	li(class="menu__item")
		a(class="menu__link", href="./assembly.html")
			span(class="menu__link-content")
				| На сборку
				span(class="menu__count")
					| 12
	li(class="menu__item")
		a(class="menu__link", href="./shipment.html")
			span(class="menu__link-content")
				| Готовы к отгрузке
				span(class="menu__count")
					| 4
	li(class="menu__item")
		a(class="menu__link", href="./shipped.html")
			span(class="menu__link-content")
				| Отгружены
				span(class="menu__count")
					| 5