@import "../layout/var";

.list{
	background: @c-order;
	position: relative;
	z-index: 0;
	padding: 10px 0;
	top: -5px;
	border-radius: 0 0 5px 5px;
	margin-bottom: 40px;

	&_small{
		width: 800px;
	}

	&_partially{
		width: 1080px;
	}

	&_questions{
		margin: 0 400px 0 420px;
		padding: 15px 10px 10px;
	}

	&__close{
		display: inline-block;
		position: absolute;
		top: 100%;
		left: 15px;
		width: 50px;
		height: 20px;
		border-radius: 0 0 3px 3px;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);

		&:before{
			content: "";
			background: url("../images/closeList.png") no-repeat center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	&__textarea{
		margin-bottom: 10px;
	}

	&__cancer{
		color: @c-black;
		text-decoration: none;
		border-bottom: 1px dotted @c-black;
		float:right;
		margin: 5px 0;
	}

	&__ok{
		display: inline-block;
		line-height: 26px;
		border-radius: 13px;
		padding: 0 10px;
		color: @c-white;
		text-decoration: none;
		font-weight: 600;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);
	}

	&__comment{
		font-size: 12px;
		color: @c-gray;
		margin-left: 10px;
	}
}