@import "../layout/var";

.filter{
	display: table;
	background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
	border-radius: 5px;

	&_full{
		width: 100%;
	}

	&__item{
		display: table-cell;
		vertical-align: middle;

		&:first-child .filter__label{
			border-radius: 5px 0 0 5px;
		}

		&:last-child .filter__label{
			border-radius: 0 5px 5px 0;
		}

		&_type_hot{
			.filter__label{
				color: @c-orange;

				.filter__count{
					color: @c-orange;

					&:after{
						content: "";
						display: inline-block;
						background: url(../images/sprite.png) no-repeat -42px 0;
						width: 15px;
						height: 15px;
						margin-left: 3px;
					}
				}
			}
		}
	}

	&__label{
		display: block;
		position: relative;
		padding: 10px;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
	}

	&__count{
		color: fadeout(@c-black, 50%);
		font-size: 16px;
		height: 26px;
		line-height: 26px;
	}

	&__close{
		display: none;
		position: absolute;
		left: 50%;
		top: -22px;
		padding: 2px 2px 0 2px;
		border-radius: 3px 3px 0 0;
		transform: translate(-50%, 0);
		background-image: linear-gradient(@gr-red_t, @gr-red_b);

		&:before{
			content: "";
			background: url(../images/sprite.png) no-repeat -22px 0;
			width: 20px;
			height: 20px;
			display: block;
		}
	}

	&__check{
		display: none;

		&:checked{
			& + .filter__label{
				background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
				color: @c-white;

				.filter__count{
					color: @c-white;
				}

				.filter__close{
					display: block;
				}
			}
		}

		&:disabled{
			& + .filter__label{
				cursor: default;
				color: @c-gray;
			}
		}
	}
}