ul(class="filter")
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_1", checked="checked")
		label(class="filter__label", for="filter_1")
			div(class="filter__close")
			div(class="filter__count")
				| 27
			div(class="filter__text")
				| Все
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_2")
		label(class="filter__label", for="filter_2")
			div(class="filter__close")
			div(class="filter__count")
				| 5
			div(class="filter__text")
				| Новые
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_3")
		label(class="filter__label", for="filter_3")
			div(class="filter__close")
			div(class="filter__count")
				| 6
			div(class="filter__text")
				| Отвеченные
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_4")
		label(class="filter__label", for="filter_4")
			div(class="filter__close")
			div(class="filter__count")
				| 2
			div(class="filter__text")
				| В заказ
	li(class="filter__item filter__item_type_hot")
		input(class="filter__check", type="checkbox", id="filter_8")
		label(class="filter__label", for="filter_8")
			div(class="filter__close")
			div(class="filter__count")
				| 2
			div(class="filter__text")
				| Горящие