ul(class="filter filter_full")
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_1")
		label(class="filter__label", for="filter_1")
			div(class="filter__close")
			div(class="filter__count")
				| 27
			div(class="filter__text")
				| Все
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_2")
		label(class="filter__label", for="filter_2")
			div(class="filter__close")
			div(class="filter__count")
				| 5
			div(class="filter__text")
				| Новые
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_3")
		label(class="filter__label", for="filter_3")
			div(class="filter__close")
			div(class="filter__count")
				| 6
			div(class="filter__text")
				| Рассматриваются
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_4")
		label(class="filter__label", for="filter_4")
			div(class="filter__close")
			div(class="filter__count")
				| 2
			div(class="filter__text")
				| Не подтверждены / Частично
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_5")
		label(class="filter__label", for="filter_5")
			div(class="filter__close")
			div(class="filter__count")
				| 4
			div(class="filter__text")
				| Собираются
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_6")
		label(class="filter__label", for="filter_6")
			div(class="filter__close")
			div(class="filter__count")
				| 8
			div(class="filter__text")
				| Готовы
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_7")
		label(class="filter__label", for="filter_7")
			div(class="filter__close")
			div(class="filter__count")
				| 5
			div(class="filter__text")
				| Выполнены
	li(class="filter__item filter__item_type_hot")
		input(class="filter__check", type="checkbox", id="filter_8")
		label(class="filter__label", for="filter_8")
			div(class="filter__close")
			div(class="filter__count")
				| 2
			div(class="filter__text")
				| Горящие
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_9", disabled="disabled")
		label(class="filter__label", for="filter_9")
			div(class="filter__close")
			div(class="filter__count")
			div(class="filter__text")
				| Отказ
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_10", disabled="disabled")
		label(class="filter__label", for="filter_10")
			div(class="filter__close")
			div(class="filter__count")
			div(class="filter__text")
				| Возврат
	li(class="filter__item")
		input(class="filter__check", type="checkbox", id="filter_11")
		label(class="filter__label", for="filter_11")
			div(class="filter__close")
			div(class="filter__count")
				| 5
			div(class="filter__text")
				| Подтверждение оплаты