@import "../layout/var";

.select{
	display: block;
	margin-bottom: 20px;
	position: relative;
	z-index: 10;

	.customSelectBack{
		box-shadow: none;
		border-radius: 3px;
		border: 1px solid @c-gray;
		padding: 6px 25px 6px 10px;
		position: relative;
		background: #fff;

		&:before{
			content: '';
			position: absolute;
			top: 14px;
			right: 10px;
			border-top: 4px solid @c-gray;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		}
	}

	.customSelectArrow,
	.customSelectOption{
		font-size: 14px;
		line-height: 20px;
	}

	.customSelectOption{
		padding: 6px 25px 6px 10px;
		min-height: 20px;
		box-sizing: border-box;
	}

	.customSelectOptions{
		background: #fff;
		border: 1px solid @c-gray;
		box-sizing: border-box;
		border-radius: 3px;
		margin-top: -34px;
		box-shadow: none;
	}

	.customSelectScroll{
		overflow-y: auto;
		max-height: 165px;
	}

	&__fancybox{
		width: 220px;

		.customSelectArrow,
		.customSelectOption{
			font-weight: 600;
		}

		.customSelectBack{
			&:before{
				content: "";
				width: 10px;
				height: 6px;
				position: absolute;
				border: none;
				right: 10px;
				top: 14px;
				background: url(../images/select-fancybox.png) no-repeat;
			}
		}
	}

	&__list{
		width: 260px;
		white-space: nowrap;

		.customSelectArrow,
		.customSelectOption{
			font-weight: 600;
		}

		.customSelectArrow{
			overflow: hidden;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 20px;
				background-image: linear-gradient(to right, fadeout(@c-white, 80%), @c-white);
			}
		}
	}

	&__fancy{
		width: 260px;
		white-space: nowrap;

		.customSelectArrow,
		.customSelectOption{
			font-weight: 400;
		}

		.customSelectArrow{
			overflow: hidden;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 20px;
				background-image: linear-gradient(to right, fadeout(@c-white, 80%), @c-white);
			}
		}
	}

	&__page{
		width: 280px;
		white-space: nowrap;

		.customSelectArrow,
		.customSelectOption{
			font-weight: 600;
		}
		
		.customSelectBack{
			&:before{
				content: "";
				width: 10px;
				height: 6px;
				position: absolute;
				border: none;
				right: 10px;
				top: 14px;
				background: url(../images/select-fancybox.png) no-repeat;
			}
		}
	}

	&__count{
		width: 80px;
		display: inline-block;
		text-align: left;

		.customSelectArrow,
		.customSelectOption{
			font-weight: 600;
		}
	}

	&__form{
		width: 260px;
	}

	&__payment{
		width: 220px;
	}

	.product_partially &,
	.product_fancybox &{
		color: @c-black;
		margin-bottom: 0;
	}
}