@import "../layout/var";

.count{
	position: relative;
	padding: 0 20px;
	display: inline-block;
	white-space: nowrap;
	line-height: 30px;

	&__button{
		text-decoration: none;
		color: @c-white;
		font-weight: 600;
		text-align: center;
		position: absolute;
		border-radius: 3px;
		top: 0;
		width: 18px;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);

		&_add{
			right: 0px;
		}

		&_reduce{
			left: 0px;
		}

		&_disable{
			visibility: hidden;
		}
	}

	&__text{
		background: @c-white;
		border-radius: 3px;
		padding: 0 10px;
		color: @c-gray;
	}

	&__count{
		display: inline-block;
		margin-right: 3px;
	}
}