div(class="header")
	div(class="header__wrapper")
		div(class="header__inner")
			div(class="header__content clearfix")
				div(class="header__profile")
					div(class="header__name")
						| Управляющий
					div(class="header__separator")
					div(class="header__switcher switcher")
						input(class="header__checkbox switcher__input",name="headerSwitcher", id="headerSwitcher", type="checkbox")
						label(class="header__label header__label_active switcher__label switcher__label_active")
							| Все заказы
						label(class="header__switch header__label", for="headerSwitcher")
						label(class="header__label header__label_unactive switcher__label switcher__label_unactive")
							| По менеджерам
					div(class="header__separator")
					div.header__statistics
						a.header__statistics-link(href="#") Полная статистика
				a(class="header__link", href="/")
					img(class="header__logo", src="./images/logo.png", alt="Запчасти на дом")