div(class="header")
	div(class="header__wrapper")
		div(class="header__inner")
			div(class="header__content clearfix")
				div(class="header__profile")
					div(class="header__name")
						| Николай ПОДДУБНЫЙ
					div(class="header__separator")
					div(class="header__switcher switcher")
						input(class="header__checkbox switcher__input", name="headerSwitcher", id="headerSwitcher", type="checkbox", checked)
						label(class="header__label header__label_active switcher__label switcher__label_active")
							| Активен
						label(class="header__label header__switch", for="headerSwitcher")
						label(class="header__label header__label_unactive switcher__label switcher__label_unactive")
							| Не активен
				a(class="header__link", href="/")
					img(class="header__logo", src="./images/logo.png", alt="Запчасти на дом")
	div(class="header__menu crearfix")
		a(class="header__button js-fancybox", href="#create")
			span(class="header__button-content")
				| создать заказ
		include ../menu/menu.jade