div(class="header")
	div(class="header__wrapper")
		div(class="header__inner")
			div(class="header__content clearfix")
				div(class="header__profile")
					div(class="header__name")
						| Склад
				a(class="header__link", href="/")
					img(class="header__logo", src="./images/logo.png", alt="Запчасти на дом")
	div(class="header__menu crearfix")
		include ../menu/menu-storage.jade