@import "../layout/var";

.header{
	padding: 15px 0 35px;

	&__wrapper{
		position: relative;
		z-index: 1;
		.skew;

		&:after{
			content: "";
			position: absolute;
			right: -5px;
			width: 10px;
			top: 5px;
			bottom: 5px;
			border-radius: 3px;
			background-image: linear-gradient(@gr-red_t, @gr-red_b);
			box-shadow: @shadow;
			z-index: -1;
		}
	}

	&__inner{
		background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
		box-shadow: @shadow;
		border-radius: 5px;
		padding: 20px 30px;
	}

	&__content{
		.no-skew;
	}

	&__profile{
		float: right;
		line-height: 20px;
		padding: 5px 0;
	}

	&__link{
		position: relative;
		display: inline-block;
		width: 266px;
		height: 27px;
	}

	&__logo{
		.poz_center;
	}

	&__switcher,
	&__name,
	&__separator{
		display: inline-block;
		vertical-align: top;
	}

	&__name{
		text-transform: uppercase;
		color: @c-blue;
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
		font-size: 18px;
	}

	&__separator{
		background: @gr-red_b;
		width: 2px;
		height: 26px;
		margin: -3px 25px;
		.skew;
	}

	&__checkbox{
		display: none;

		&:checked{
			& ~ .header__label_active{
				color: @c-black;
			}

			& ~ .header__label_unactive{
				color: @c-gray;
			}

			& ~ .header__switch{
				text-align: left;
			}
		}
	}

	&__label{
		font-weight: bold;
		color: @c-gray;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;

		&_unactive{
			color: @c-black;
		}
	}

	&__switch{
		width: 30px;
		height: 16px;
		line-height: 16px;
		display: inline-block;
		vertical-align: top;
		border-radius: 9px;
		margin: 0 10px;
		text-align: right;
		border: 1px solid @gr-blue_b;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);

		&:before{
			content: "";
			display: inline-block;
			height: 16px;
			width: 16px;
			border-radius: 8px;
			background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
		}
	}

	&__menu{
		position: relative;
		top:-5px;
		left: 0;
		margin-right: 15px;
		padding-top: 5px;
		.skew;
		background-image: linear-gradient(@gr-blue_t, @gr-blue_b);
		border-radius: 3px;
		font-size: 16px;
		font-family: 'arialn';
		font-weight: 600;
		font-style: italic;
		text-transform: uppercase;
		z-index: 0;
	}

	&__button{
		float: right;
		margin: 5px 15px;
		text-decoration: none;
		color: @c-white;
		display: inline-block;
		border-radius: 3px;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);
		box-shadow: @shadow;
		line-height: 28px;
		padding: 0 10px;
		text-shadow: 0 1px 0 fadeout(@c-black, 70%);

		&-content{
			display: inline-block;
			.no-skew;
		}
	}

	&__statistics{
		display: inline-block;

		&-link{
			position: relative;
			display: inline-block;
			color: @c-lightblue;
			margin-left: 20px;
			text-decoration: none;

			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -20px;
				background: url("../images/order.png") no-repeat -250px -65px;
				width: 15px;
				height: 15px;
			}
		}
	}
}