@import "../layout/var";

.form{
	&__group{
		font-weight: 600;
		padding-bottom: 10px;
	}

	&__radio,
	&__checkbox{
		display: block;
		font-size: 13px;
		margin-bottom: 5px;
	}

	&__button{
		.skew;
		color: @c-white;
		border-radius: 3px;
		background-image: linear-gradient(@gr-red_t, @gr-red_b);
		box-shadow: @shadow;
		border:none;
		height: 40px;
		padding: 0 15px;
		margin-right: 15px;
		font-weight: 600;
		font-style: italic;
		font-family: 'arialn';
		text-transform: uppercase;
		vertical-align: top;
		outline: none;
		margin-top: 20px;
		cursor: pointer;

		div{
			.no-skew;
		}

		&_submit{
			font-size: 26px;

			&:hover{
				background-image: linear-gradient(@gr-red_b, @gr-red_t);
			}
		}

		&_save{
			font-size: 20px;
			background-image: linear-gradient(@gr-blue_t, @gr-blue_b);

			&:hover{
				background-image: linear-gradient(@gr-blue_b, @gr-blue_t);
			}
		}
	}
}