@import "../layout/var";

input{
	outline: none;
}

input[type="text"]{
	border-radius: 3px;
	border: 1px solid @c-gray;
	padding: 6px 10px;
	line-height: 20px;
	font-size: 14px;
	font-family: Arial;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}