- var products = [{"title": "Набор ортопедических авточехлов Autoprofi Extra Comfort, формованный велюр", "image": "./images/product1.jpg", "articul": "90124895", "brand": "Autoprofi", "time": "14:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "count": "1", "delete": false},{"title": "Шина Ice Guard IG50 195/65 R15 91Q зима н/ш, 4шт.", "image": "./images/product2.jpg", "articul": "90124895", "brand": "NOKIAN", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "6430", "count": "1", "delete": false}]

div.fancybox__head
	div.fancybox__title.fancybox__title-small Состав заказа
div.fancybox__body
	each product, index in products
		form(method="get", action="/", class="product product_composition")
			div.product__cell.product__cell_image
				div.product__image
					img(src= product.image, alt= product.title)
			div.product__cell.product__cell_title= product.title
			div.product__cell.product__cell_info
				div.product__articul= product.articul
			div.product__cell.product__cell_brand
				div.product__brand= product.brand
			div.product__cell.product__cell_count 
				span.count__count= product.count
				| Шт.
			div.product__cell.product__cell_price= product.price 
				span.product__rur Руб
			button(class="product__cell product__cell_state product__cell_type_delete product__cell_state_" + product.delete)
div.fancybox__bottom
	div.fancybox__title.fancybox__title-small Итого
	div.fancybox__total 7619 Р