- var products = [{"title": "Набор ортопедических авточехлов Autoprofi Extra Comfort, формованный велюр", "image": "./images/product1.jpg", "brand": "Autoprofi", "articul": "90124895", "time": "14:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "success": true, "delete": false, "count": "1"},{"title": "Шина Ice Guard IG50 195/65 R15 91Q зима н/ш, 4шт.", "image": "./images/product2.jpg", "brand": "NOKIAN", "articul": "90124895", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "6430", "success": true, "delete": false, "count": "1"},{"title": "Моторное масло Mobil Peak Life 5W-50 4L", "image": "./images/product3.jpg", "brand": "MOBIL", "articul": "90124895", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "success": false, "delete": true, "count": "1"}]

each product, index in products
	- var mod = index%2 ? "even" : "odd"
	form(method="get", action="/", class="product product_"+ mod)
		div.product__cell.product__cell_image
			div.product__image
				img(src= product.image, alt= product.title)
		div.product__cell.product__cell_title= product.title
		div.product__cell.product__cell_info
			div.product__brand= product.brand
			div.product__articul 
				| Арт.&nbsp;
				span= product.articul
		div.product__cell.product__cell_count 
			span.count__count= product.count
			| Шт.
		button(type="success",class="product__cell product__cell_type_success product__cell_state product__cell_state_" + product.success)
		button(class="product__cell product__cell_state product__cell_type_delete product__cell_state_" + product.delete)