- var products = [{"title": "Набор ортопедических авточехлов Autoprofi Extra Comfort, формованный велюр", "image": "./images/product1.jpg", "brand": "Autoprofi", "articul": "90165895", "time": "14:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "success": true, "delete": false},{"title": "Шина Ice Guard IG50 195/65 R15 91Q зима н/ш, 4шт.", "image": "./images/product2.jpg", "brand": "NOKIAN", "articul": "90124895", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "6430", "success": true, "delete": false, "preOrder": "90124895"},{"title": "Моторное масло Mobil Peak Life 5W-50 4L", "image": "./images/product3.jpg", "brand": "MOBIL", "articul": "90345895", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "success": false, "delete": false, "state": "hot"}]

each product, index in products
	- var mod = index%2 ? "even" : "odd"
	- var state = product.state ? "product product_state_hot product_"+ mod : "product product_"+ mod
	-var dataAtrs = ""
	if product.preOrder
		-var state = state + " product_pre-order"
		-var dataAtrs = product.preOrder
	form(method="get", action="/", class= state, data-articul= dataAtrs)
		div.product__cell.product__cell_image
			div.product__image
				if product.preOrder
					div.product__pre
				img(src= product.image, alt= product.title)
		div.product__cell.product__cell_title= product.title
		div.product__cell.product__cell_info
			div.product__brand= product.brand
			div.product__articul 
				| Арт.&nbsp;
				span= product.articul
		div.product__cell.product__cell_time= product.time
		div.product__cell.product__cell_executor
			div.product__executor
				div.product__executor-number= product.executor.number
				div.product__executor-profile
					div.product__executor-position Менеджер: 
					div.product__executor-name= product.executor.name
		div.product__cell.product__cell_count 
			include ../count/count.jade
		div.product__cell.product__cell_price= product.price 
			span.product__rur Руб
		button(type="success",class="product__cell product__cell_type_success product__cell_state product__cell_state_" + product.success)
		button(class="product__cell product__cell_state product__cell_type_delete product__cell_state_" + product.delete)