- var products = [{"title": "Набор ортопедических авточехлов Autoprofi Extra Comfort, формованный велюр", "image": "./images/product1.jpg", "articul": "90124895", "time": "14:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "provider":[{"value": "1", "text": "ООО «Автогарант», 42 шт, 1450 Р"},{"value": "1", "text": "ООО «Автогарант», 12 шт, 1650 Р"}], "success": false},{"title": "Шина Ice Guard IG50 195/65 R15 91Q зима н/ш, 4шт.", "image": "./images/product2.jpg", "articul": "90124895", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "6430", "provider":[{"value": "1", "text": "ООО «Автогарант», 42 шт, 1450 Р"},{"value": "1", "text": "ООО «Автогарант», 12 шт, 1650 Р"}], "success": false},{"title": "Моторное масло Mobil Peak Life 5W-50 4L", "image": "./images/product3.jpg", "articul": "90124895", "time": "12:00", executor:{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "2430", "provider":[{"value": "1", "text": "ООО «Автогарант», 42 шт, 1450 Р"},{"value": "1", "text": "ООО «Автогарант», 12 шт, 1650 Р"}], "success": false}]

each product, index in products
	- var mod = index%2 ? "even" : "odd"
	form(method="get", action="/", class="product product_fancybox product_"+ mod)
		div.product__cell.product__cell_image
			div.product__image
				img(src= product.image, alt= product.title)
		div.product__cell.product__cell_title= product.title
		div.product__cell.product__cell_info
			div.product__articul= product.articul
		div.product__cell.product__cell_provider
			select.select.select__fancy(name="provider"+index)
				each select in product.provider
					option(value= select.value)= select.text
		div.product__cell.product__cell_count
			include ../count/count.jade
		div.product__cell.product__cell_price= product.price 
			span.product__rur Руб
		button(type="success",class="product__cell product__cell_type_success product__cell_state product__cell_state_" + product.success)