- var products = [{"title": "Граната (шрус) внешняя на опель астра J 2011г АКПП 1.6 115 л.с.", "image": "./images/product1.jpg", "brand": "Autoprofi", "count": "1"}]
- var text = "Клиент вернул Шрус, потому-что это типа не тот аналог, и у него оказалось неправильное количество зубцов. Выглядит как новый."

each product, index in products
	form(method="get", action="/", class="product")
		div.product__cell.product__cell_image
			div.product__image
				img(src= product.image, alt= product.title)
		div.product__cell.product__cell_title= product.title
		div.product__cell.product__cell_info
			div.product__brand= product.brand
		div.product__cell.product__cell_count 
			span.count__count= product.count
			| Шт.
div.cause
	div.cause__text= text