- var products = [{"title": "Шина Ice Guard IG50 195/65 R15 91Q зима н/ш, 4шт.", "image": "./images/product2.jpg", "brand": "NOKIAN", "articul": "90124895", "time": "12:00", "executor":{ "number": "1175429", "name": "Афанасий Никитин"}, "price": "6430", "success": true, "delete": false, "preOrder": {"articul":"90124895", "count": "2"}}]

each product, index in products
	- var mod = index%2 ? "even" : "odd"
	- var state = "product product_"+ mod
	-var dataArt = ""
	-var dataCount = ""
	if product.preOrder
		-var state = state + " product_pre-order"
		-var dataArt = product.preOrder.articul
		-var dataCount = product.preOrder.count
	form(method="get", action="/", class= state, "data-articul"= dataArt, "data-count"= dataCount)
		div.product__cell.product__cell_image
			div.product__image
				if product.preOrder
					div.product__pre.product__pre_bottom
				img(src= product.image, alt= product.title)
		div.product__cell.product__cell_title= product.title
		div.product__cell.product__cell_info
			div.product__brand= product.brand
			div.product__articul 
				| Арт.&nbsp;
				span= product.articul
		div.product__cell.product__cell_time= product.time
		div.product__cell.product__cell_executor
			div.product__executor
				div.product__executor-number= product.executor.number
				div.product__executor-profile
					div.product__executor-position Менеджер: 
					div.product__executor-name= product.executor.name
		div.product__cell.product__cell_count 
			include ../count/count.jade
		div.product__cell.product__cell_price= product.price 
			span.product__rur Руб
		button(type="success",class="product__cell product__cell_type_success product__cell_state product__cell_state_" + product.success)
		button(class="product__cell product__cell_state product__cell_type_delete product__cell_state_" + product.delete)