@import "../layout/var";

.product{
	display: table;
	table-layout: fixed;
	border-radius: 3px;
	margin-bottom: 3px;
	font-weight: 600;
	line-height: 20px;

	&_odd{
		background: @c-odd;
	}

	&_even{
		background: @c-even;
	}

	&_partially{
		background: @c-purpur;
		color: @c-white;
	}

	&_fancybox{
		background: @c-white;
		width: 100%;

		.product__cell_type_success{
			border-radius: 3px;

			&.product__cell_state_false{
				background: transparent;
			}

			&:before{
				background-position: -30px 0;
			}
		}

		.product__articul{
			font-size: 13px;
		}

		&:hover{
			background: @c-pink;
			color: @c-white;

			.product__cell_type_success{
				background: rgba(0, 0, 0, 0.2);

				&:before{
					background-position: -30px -60px;
				}
			}
		}

		.product__cell_title{
			width: 350px;
		}

		.product__cell_info{
			width: 120px;
		}
	}

	&_composition{
		background: transparent;
		border-bottom: 1px solid @c-border;
		border-radius: 0;
		width: 100%;

		&:last-child{
			border:none;
		}

		.product__articul{
			font-size: 13px;
			color: @c-gray;
		}

		.product__cell_type_delete{
			border-radius: 3px;

			&.product__cell_state_false{
				background: transparent;
			}

			&:before{
				background-position: -60px -30px;
			}
		}

		.product__cell_title{
			width: 350px;
		}

		.product__cell_brand{
			width: 271px;
		}

		.product__cell_count{
			text-align: center;
		}
		.product__cell_info{
			width: 120px;
		}
	}

	&__cell{
		display: table-cell;
		vertical-align: middle;
		height: 56px;
		padding: 0 3px;

		&_image{
			width: 50px;
		}

		&_title{
			width: 430px;
		}

		&_info{
			width: 140px;
		}

		&_time{
			width: 75px;
			color: @c-gray;
		}

		&_executor{
			width: 90px;
		}

		&_count{
			width: 128px;
		}

		&_price{
			width: 105px;
			font-size: 18px;
		}

		&_state{
			width: 60px;
			border: none;
			cursor: pointer;
			background: @c-undefined;
		}

		&_provider{
			 width: 271px;
		}

		&_type{
			&_success{
				border-radius: 3px 0 0 3px;
				border-right: 1px solid @c-white;

				&:before{
					content: "";
					width: 30px;
					height: 30px;
					display: inline-block;
					background: url(../images/order.png) no-repeat -30px -60px;
				}

				&.product__cell_state_true,
				&:hover{
					background: @c-green;
				}
			}

			&_delete{
				border-radius: 0 3px 3px 0;

				&:before{
					content: "";
					width: 30px;
					height: 30px;
					display: inline-block;
					background: url(../images/order.png) no-repeat -60px -60px;
				}

				&.product__cell_state_true,
				&:hover{
					background: @gr-red_t;
				}
			}
		}

	}

	&__image{
		width: 48px;
		height: 48px;
		border-radius: 2px;
		border: 1px solid @c-border;
		position: relative;

		img{
			display: block;
			border-radius: 2px;
		}
	}

	&__articul{
		font-weight: 400;
		font-size: 11px;
	}

	&__executor{
		position: relative;
		display: inline-block;
		cursor: pointer;

		&-number{
			font-size: 13px;
			font-weight: 400;
			padding: 0 7px;
			border-radius: 3px;
			line-height: 30px;
			background-image: linear-gradient(@gr-gray_t, @gr-gray_b);
			box-shadow: @shadow;
		}

		&-profile{
			display: none;
			position: absolute;
			bottom: 30px;
			left: -5px;
			box-shadow: @shadow;
			padding: 15px 10px;
			background: @c-white;
			border-radius: 3px;
			white-space: nowrap;
			z-index: 10;
		}

		&-position{
			color: @c-gray;
			font-weight: 400;
		}

		&:hover{
			.product__executor-number{
				background-image: linear-gradient(@gr-red_t, @gr-red_b);
				color: @c-white;
			}

			.product__executor-profile{
				display: block;
			}
		}
	}

	&__rur{
		font-size: 14px;
		margin-left: 5px;
	}

	&.product_pre-order{
		background: @c-pre-order;
	}

	.list &{
		font-weight: 400;
		font-size: 13px;
		border-radius: 0;

		.product__cell_image{
			padding-left: 20px;
		}

		.product__cell_title{
			padding: 3px 23px;
			width: 380px;
		}

		.product__cell_info{
			padding-left: 20px;
		}

		.product__cell_count{
			font-weight: 600;
			padding-left: 10px;
		}

		&.product_partially{
			.product__cell_count{
				padding-left: 0;
				width: 138px;
			}
		}
	}

	&_state_hot{
		.product__cell_title{
			color: @c-orange;
		}

		.product__cell_time{
			color: @c-orange;

			&:after{
				content: "";
			    display: inline-block;
			    background: url(../images/sprite.png) -42px 0 no-repeat;
			    width: 15px;
			    height: 15px;
			    vertical-align: text-bottom;
			    margin-left: 5px;
			}
		}
	}

	&__pre{
		display: none;
		position: absolute;
		left: -30px;
		width: 0;
		border-left: 1px solid @c-white;

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: -3px;
			width: 5px;
			height: 5px;
			border-radius: 3px;
			background: @c-white;
		}

		&_bottom:before{
			top: auto;
			bottom: 0;
		}

		&-count{
			position: absolute;
			left: 0;
			transform: translate(-50%, 0);
			color: @c-white;
			font-weight: 600;
			line-height: 32px;
		}
	}
}